# Hugging Face cache
.hf_cache

# Python Cache files
*__pycache__/

# Environment files
.env

# Document Files
*files

# ----------- WebPageChatbot ----------
WebPageChatbot/server/db
WebPageChatbot/server/*.ipynb

WebPageChatbot/webchatbot/node_modules/
WebPageChatbot/webchatbot/build/
WebPageChatbot/webchatbot/package-lock.json